* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Inter', sans-serif;
    background-color: #1c1c1c;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


.light {
    --bc-main: #fff;
    --bc-secondary: #f9fafb
}

.container {
    width: 34.38rem;
    height: 48.75rem;
    background-color: var(--bc-main);
    margin: 0 auto;
    margin-top: 2rem;
}

header {
    width: 100%;
    height: 27%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("./images/cinema.jpg");
    background-size: cover;
    padding: 0 2rem;
}

h1 {
    font-size: 2.7rem;
    font-weight: 900;
    color: var(--bc-main);
}

header a {
    text-decoration: none;
    width: 10.5rem;
    height: 2.5rem;
    background-color: transparent;
    border: none;
    color: var(--bc-secondary);
    font-size: 0.88rem;
    font-weight: 600;
    cursor: pointer;
    text-align: right;
    padding-top: 1rem;
}

main {
    width: 100%;
    height: calc(73%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
    overflow: auto;
}

.pre-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: #dfdddd
}

.pre-search a {
    text-decoration: none;
    color: #333333;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.8rem;
}

.pre-search a i {
    font-size: 0.8rem;
    padding-top: .24rem;
}

.search {
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed
}

.search .input-container {
    width: 21.38rem;
    height: 2.38rem;
    border: 1px solid #dfdddd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    padding-left: 0.5rem;
    font-size: 0.88rem;
    color: #999999;
    background-color: var(--bc-main);
    position: relative;
    display: inline-block;
}

.search .input-container input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    padding-left: 1.5rem;
    outline: none;
}

.search .input-container i {
    position: absolute;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
}

.search button {
    width: 7.5rem;
    height: 2.38rem;
    border: 1px solid #dfdddd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    background-color: var(--bc-secondary);
    color: #333333;
    outline: none;
}

.movie {
    width: 80%;
    height: 9.2rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
    cursor: pointer;
    margin: 1rem auto;
    color: #333333;
    border-bottom: 1px solid #cccccc;
}

.movie img {
    width: 6.2rem;
    height: 80%;
    object-fit: cover;
}

.movie-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 1rem;
    padding-top: 1rem;
}

.movie-info-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.movie-info-header h3 {
    font-size: 0.9rem;
    font-weight: 600;
    color: #333333;
    margin: 0;
}

.movie-info-header p {
    gap: 0.5rem;
    font-size: 0.7rem;
    font-weight: 400;
    color: #666666;
}

.movie-info-header p i {
    font-size: 0.7rem;
    color: #FFD700;
}

.movie-info ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    list-style: none;
    margin: 0;
}

.movie-info ul li {
    font-size: 0.7rem;
    font-weight: 400;
    color: #333333;
}

.movie-info ul button {
    background-color: transparent;
    border: none;
    font-size: 0.7rem;
    font-weight: 400;
    cursor: pointer;
}

.movie-info .plot {
    font-size: 0.8rem;
    font-weight: 400;
    color: #666666;
    margin-top: 0.5rem;
    display: -webkit-box;
    line-clamp: 3;
    box-orient: vertical;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.results.with-margin {
    margin-top: 70rem;
}

.watchlist-page .results {
    margin-top: 6rem;
}

.results.margin-top {
    margin-top: 2rem;
}